<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <div class="header">
            <a href="{{ path('default') }}"><img src="/images/applogo.png" id="applogo" alt="homepage"></a>
            <nav>
                <ul>
                    <li>
                        <a href="{{ url('default') }}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('about') }}">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('jobs') }}">
                            Jobs
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('employers') }}">
                            Employers
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('sitemap') }}">
                            Sitemap
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <style>
            #applogo{
                width: 1240px;
                height: 300px;
                border: 2px solid #070c0a;
            }
        </style>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
