{% extends 'base.html.twig' %}

{% block title %}Jobs index{% endblock %}

{% block body %}
<div class="content" style="border: 2px solid #070c0a;">
    <h1>Jobs</h1>
    <style>
        h1 {
            text-align: center;
        }
        body {
            background-color: lightblue;
        }
        .content{
            background-color: darkcyan;
            width: 100%;
        }
    </style>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Company</th>
                <th>Available</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.name }}</td>
                <td>{{ job.company }}</td>
                <td>{{ job.available ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('jobs_show', {'id': job.id}) }}">show</a>
                    <a href="{{ path('jobs_edit', {'id': job.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('jobs_new') }}">Create new</a>
{% endblock %}
