{% extends 'base.html.twig' %}

{% block title %}Jobs index{% endblock %}

{% block body %}
    <nav>
        <ul>
            <li>
                <a href="{{ url('default') }}">
                    Home
                </a>
            </li>
            <li>
                <a href="{{ url('about') }}">
                    About
                </a>
            </li>
            <li>
                <a href="{{ url('employers') }}">
                    Employers
                </a>
            </li>
            <li>
                <a href="{{ url('sitemap') }}">
                    Sitemap
                </a>
            </li>
        </ul>
    </nav>
    <h1>Jobs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Company</th>
                <th>Available</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.name }}</td>
                <td>{{ job.company }}</td>
                <td>{{ job.available ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('jobs_show', {'id': job.id}) }}">show</a>
                    <a href="{{ path('jobs_edit', {'id': job.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('jobs_new') }}">Create new</a>
{% endblock %}
